.loginScreen{
    position: relative;
    height: 100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_small.jpg")center no-repeat;
    background-size: cover;
}

.loginScreen__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-color: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8)0,
        rgba(0, 0, 0, 0)60%
        rgba(0,0,0,0.8)100%
    );
}

.loginScreen__logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}

.loginScreen__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.loginScreen__body{
    position: absolute;
    z-index: 1;
    top: 30%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    padding: 20px;
}

.loginScreen__body > h1{
    font-size: 3.125em;
    margin-bottom: 20px;
}

.loginScreen__body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body > h3{
    font-size: 1.3rem;
    font-weight: 400;
}

.loginScreen__input{
    margin: 20px;
}

.loginScreen__input > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}

.loginScreen__getStarted{
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
}